{% extends 'knp_menu.html.twig' %}

{% block root %}
    <div class="heading-5 mb-4">{{ item.label|trans }}</div>
    {{ block('list') }}
{% endblock %}

{% block list %}
    <div class="flex flex-col">
        {% for item in item.children %}
            {{ block('item') }}
        {% endfor %}
    </div>
{% endblock %}

{% block item %}
    <a class="flex items-center gap-2 py-1 w-fit lg:hover:text-primary" href="{{ item.uri }}">
        {{ ux_icon(item.labelAttributes.icon, {'class': 'icon mr-2 w-6 h-6'}) }}
        {{ item.label|trans }}
    </a>
{% endblock %}