{# Rendered with \Sylius\Bundle\ShopBundle\Twig\Component\Common\CartComponent #}

{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

<div class="relative" {{ attributes }}>
    <div {{ sylius_test_html_attribute('cart-button') }}>
        <button class="flex items-center gap-2 px-0 relative" js-cart-opener>
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="hidden lg:block ps-1" {{ sylius_test_html_attribute('cart-total') }}>
            {{- money.convertAndFormat(cart.itemsTotal) -}}
                {{- 'sylius.ui.item.choice'|trans({'%count%': cart.totalQuantity}) }}
        </span>
            {% if cart.totalQuantity > 0 %} 
                <span class="absolute top-0 start-0 badge rounded-full bg-primary">
                {{ cart.totalQuantity }}
            </span>
            {% endif %}
        </button>
    </div>
</div>
